@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap');

.dark {
  --body-color:#202C36;
  --primary-color: #2B3844;
  --text-color: #fff;
  --bg-img-dark: url('../imgs/sun-regular-24.png');
  --placeholder-color: #fff;
}
:root {
  --body-color: #f2f2f2;
  --primary-color: #fff;
  --text-color: #111517;
  --bg-img-dark: url('../imgs/moon-regular-24.png');
  --box-bg-color: #ff0;
  --placeholder-color: #848484;
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito Sans', sans-serif;
  transition: all 0.4s ease;
}

.container {
  width: 1300px;
  padding: 0 10px;
}

#header {
    margin-bottom: 90px;
}

.site-header {
  background-color: var(--primary-color);
  padding: 24px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}
.logo-heading {
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}
.light-dark {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  text-transform: capitalize;
}
.light-dark::before {
  content: '';
  width: 20px;
  height: 20px;
  background-image: var(--bg-img-dark); 
  background-size: cover;
  display: inline-block;
  position: relative;
  right: 8px;
  margin-left: 8px;
}

.back {
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
    width: 136px;
    height: 40px;
    border-radius: 6px;
    padding-left: 32px;
}
.back::before {
    content: '';
    display: inline-block;
    background-image: url('../imgs/call-made.svg');
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.main {
    padding: 80px 0;
}

.images {
  border-radius: 10px;
}

.info-head {
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    color: var(--text-color);
    margin-bottom: 23px;
}

.info-paragh {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--text-color);
    margin-bottom: 8px;
}

.info-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--text-color);
}

.info-box {
    padding-top: 50px;
}

.second-box {
    padding-top: 118px;
}



